<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Introduction to Mustache.js</title>
</head>

<body>
  <script src="mustache.js"></script>
  <h1>Email Template with Mustache</h1>
  <p>
  <h2>Hello {{name}}, this is your data</h2>
  <h4>Email : {{email}}</h4>
  <h4>Address : {{address}}</h4>
  <h4>City : {{city}}</h4>
  </p>
</body>

</html>